In [1]:
#restart the kernel after installation
!pip install pandas-profiling --upgrade --quiet

  ERROR: Command errored out with exit status 1:
   command: 'E:\Programacao\PythonDjango\DataAnalysis_Python\venv\Scripts\python.exe' 'E:\Programacao\PythonDjango\DataAnalysis_Python\venv\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' build_wheel 'C:\Users\CARLOS~1\AppData\Local\Temp\tmpkr4cyonc'
       cwd: C:\Users\CarlosViniMSouza\AppData\Local\Temp\pip-install-5okm9etf\phik_b0ff9ffc91cb4132bd8b1a8698be970e
  Complete output (109 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.10
  creating build\lib.win-amd64-3.10\phik
  copying phik\betainc.py -> build\lib.win-amd64-3.10\phik
  copying phik\binning.py -> build\lib.win-amd64-3.10\phik
  copying phik\bivariate.py -> build\lib.win-amd64-3.10\phik
  copying phik\data_quality.py -> build\lib.win-amd64-3.10\phik
  copying phik\definitions.py -> build\lib.win-amd64-3.10\phik
  copying phik\entry_points.py -> build\lib.win-amd64-3.10\phik
  copying phik\outliers.py -> build\lib.win-amd64-3.10\phik
  copying phik\phik.py -> build\lib.win-amd64-3.10\phik
  copying phik\report.py -> build\lib.win-amd64-3.10\phik
  copying phik\resources.py -> build\lib.win-amd64-3.10\phik
  copying phik\significance.py -> build\lib.win-amd64-3.10\phik
  copying phik\simulation.py -> build\lib.win-amd64-3.10\phik
  copying phik\statistics.py -> build\lib.win-amd64-3.10\phik
  copying phik\utils.py -> build\lib.win-amd64-3.10\phik
  copying phik\version.py -> build\lib.win-amd64-3.10\phik
  copying phik\__init__.py -> build\lib.win-amd64-3.10\phik
  creating build\lib.win-amd64-3.10\phik\decorators
  copying phik\decorators\pandas.py -> build\lib.win-amd64-3.10\phik\decorators
  copying phik\decorators\__init__.py -> build\lib.win-amd64-3.10\phik\decorators
  creating build\lib.win-amd64-3.10\phik\simcore
  copying phik\simcore\__init__.py -> build\lib.win-amd64-3.10\phik\simcore
  running egg_info
  warning: no previously-included files matching '*.py[cod]' found anywhere in distribution
  warning: no previously-included files matching '__pycache__' found anywhere in distribution
  warning: no previously-included files matching '*.so' found anywhere in distribution
  warning: no previously-included files found matching 'docs'
  warning: no previously-included files found matching 'tests'
  warning: no previously-included files found matching '.readthedocs.yml'
  warning: no previously-included files matching '*.py' found under directory 'tests'
  warning: no previously-included files matching '*' found under directory 'docs'
  writing manifest file 'phik.egg-info\SOURCES.txt'
  copying phik\simcore\CMakeLists.txt -> build\lib.win-amd64-3.10\phik\simcore
  copying phik\simcore\asa159.cpp -> build\lib.win-amd64-3.10\phik\simcore
  copying phik\simcore\asa159.hpp -> build\lib.win-amd64-3.10\phik\simcore
  copying phik\simcore\bindings.cpp -> build\lib.win-amd64-3.10\phik\simcore
  copying phik\simcore\simulation.hpp -> build\lib.win-amd64-3.10\phik\simcore
  running build_ext
  -- Building for: NMake Makefiles
  CMake Error at CMakeLists.txt:3 (PROJECT):
    Generator

      NMake Makefiles

    does not support platform specification, but platform

      x64

    was specified.


  CMake Error: CMAKE_CXX_COMPILER not set, after EnableLanguage
  -- Configuring incomplete, errors occurred!
  See also "C:/Users/CarlosViniMSouza/AppData/Local/Temp/pip-install-5okm9etf/phik_b0ff9ffc91cb4132bd8b1a8698be970e/build/temp.win-amd64-3.10/Release/CMakeFiles/CMakeOutput.log".
  Traceback (most recent call last):
    File "E:\Programacao\PythonDjango\DataAnalysis_Python\venv\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 363, in <module>
      main()
    File "E:\Programacao\PythonDjango\DataAnalysis_Python\venv\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 345, in main
      json_out['return_val'] = hook(**hook_input['kwargs'])
    File "E:\Programacao\PythonDjango\DataAnalysis_Python\venv\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 261, in build_wheel
      return _build_backend().build_wheel(wheel_directory, config_settings,
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\build_meta.py", line 230, in build_wheel
      return self._build_with_temp_dir(['bdist_wheel'], '.whl',
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\build_meta.py", line 215, in _build_with_temp_dir
      self.run_setup()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\build_meta.py", line 158, in run_setup
      exec(compile(code, __file__, 'exec'), locals())
    File "setup.py", line 265, in <module>
      setup(ext_modules=EXTERNAL_MODULES, **setup_args)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\__init__.py", line 153, in setup
      return distutils.core.setup(**attrs)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\core.py", line 148, in setup
      return run_commands(dist)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\core.py", line 163, in run_commands
      dist.run_commands()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\dist.py", line 967, in run_commands
      self.run_command(cmd)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\dist.py", line 986, in run_command
      cmd_obj.run()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Temp\pip-build-env-_wixmjdh\overlay\Lib\site-packages\wheel\bdist_wheel.py", line 299, in run
      self.run_command('build')
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\cmd.py", line 313, in run_command
      self.distribution.run_command(command)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\dist.py", line 986, in run_command
      cmd_obj.run()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\command\build.py", line 135, in run
      self.run_command(cmd_name)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\cmd.py", line 313, in run_command
      self.distribution.run_command(command)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\dist.py", line 986, in run_command
      cmd_obj.run()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\command\build_ext.py", line 79, in run
      _build_ext.run(self)
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\command\build_ext.py", line 341, in run
      self.build_extensions()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\command\build_ext.py", line 450, in build_extensions
      self._build_extensions_serial()
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\_distutils\command\build_ext.py", line 475, in _build_extensions_serial
      self.build_extension(ext)
    File "setup.py", line 159, in build_extension
      subprocess.check_call(
    File "C:\Users\CarlosViniMSouza\AppData\Local\Programs\Python\Python310\lib\subprocess.py", line 369, in check_call
      raise CalledProcessError(retcode, cmd)
  subprocess.CalledProcessError: Command '['cmake', 'C:\\Users\\CarlosViniMSouza\\AppData\\Local\\Temp\\pip-install-5okm9etf\\phik_b0ff9ffc91cb4132bd8b1a8698be970e', '-Dpybind11_DIR=C:\\Users\\CarlosViniMSouza\\AppData\\Local\\Temp\\pip-build-env-_wixmjdh\\overlay\\Lib\\site-packages\\pybind11\\share\\cmake\\pybind11', '-DCMAKE_LIBRARY_OUTPUT_DIRECTORY=C:\\Users\\CarlosViniMSouza\\AppData\\Local\\Temp\\pip-install-5okm9etf\\phik_b0ff9ffc91cb4132bd8b1a8698be970e\\build\\lib.win-amd64-3.10\\phik\\lib', '-DPYTHON_EXECUTABLE=E:\\Programacao\\PythonDjango\\DataAnalysis_Python\\venv\\Scripts\\python.exe', '-DPHIK_VERSION_INFO=0.12.0', '-DCMAKE_BUILD_TYPE=Release', '-A', 'x64', '-DCMAKE_LIBRARY_OUTPUT_DIRECTORY_RELEASE=C:\\Users\\CarlosViniMSouza\\AppData\\Local\\Temp\\pip-install-5okm9etf\\phik_b0ff9ffc91cb4132bd8b1a8698be970e\\build\\lib.win-amd64-3.10\\phik\\lib']' returned non-zero exit status 1.
  ----------------------------------------
  ERROR: Failed building wheel for phik
ERROR: Could not build wheels for phik, which is required to install pyproject.toml-based projects

In [2]:
from urllib.request import urlretrieve

italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x23203a5d960>)

In [3]:
import pandas as pd

covid_df = pd.read_csv('italy-covid-daywise.csv')

type(covid_df)

pandas.core.frame.DataFrame

In [4]:
import pandas as pd

covid_df = pd.read_csv('italy-covid-daywise.csv')

type(covid_df)

covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [7]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [8]:
covid_df.shape

(248, 4)

In [9]:
# Pandas format is simliar to this

covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

In [10]:
covid_data_dict['new_cases']

[1444, 1365, 996, 975, 1326]

In [11]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [12]:
covid_df['new_cases'][246]

975.0

In [13]:
covid_df['new_tests'][240]

57640.0

In [14]:
covid_df.loc[108:113]

           date  new_cases  new_deaths  new_tests
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0

In [15]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
92   2020-04-01     4053.0       839.0        NaN
10   2020-01-10        0.0         0.0        NaN
27   2020-01-27        0.0         0.0        NaN
190  2020-07-08      137.0        30.0    28679.0
105  2020-04-14     3153.0       564.0        NaN
20   2020-01-20        0.0         0.0        NaN
173  2020-06-21      264.0        49.0    24581.0
24   2020-01-24        0.0         0.0        NaN
14   2020-01-14        0.0         0.0        NaN
213  2020-07-31      382.0         3.0    29686.0

In [16]:
# Analyzing data from data frames

total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

print('The number of reported cases is {} and the number of reported deaths is {}.'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 271515 and the number of reported deaths is 35497.

In [17]:
# Q: What is the overall death rate (ratio of reported deaths to reported cases)?

death_rate = covid_df.new_deaths.sum() / covid_df.new_cases.sum()
print("The overall reported death rate in Italy is {:.2f} %.".format(death_rate*100))

The overall reported death rate in Italy is 13.07 %.

In [18]:
# Q: What is the overall number of tests conducted? A total of 935310 tests were conducted before daily test numbers were reported.

initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()
total_tests

5214766.0

In [19]:
# Q: What fraction of tests returned a positive result?

positive_rate = total_cases / total_tests
print('{:.2f}% of tests in Italy led to a positive diagnosis.'.format(positive_rate*100))

5.21% of tests in Italy led to a positive diagnosis.